/* declaring css variables */
/* light mode */
:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(222.2 84% 4.9%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(222.2 84% 4.9%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(222.2 84% 4.9%);
  --primary: hsl(221.2 83.2% 53.3%);
  --primary-foreground: hsl(222.2 47.4% 11.2%);
  --secondary: hsl(210 40% 96.1%);
  --secondary-foreground: hsl(24 9.8% 10%);
  --muted: hsl(210 40% 96.1%);
  --muted-foreground: hsl(215.4 16.3% 46.9%);
  --accent: hsl(210 40% 96.1%);
  --accent-foreground: hsl(222.2 47.4% 11.2%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(210 40% 98%);
  --border: hsl(214.3 31.8% 91.4%);
  --input: hsl(214.3 31.8% 91.4%);
  --ring: hsl(221.2 83.2% 53.3%);
  --radius: 0.5rem;
}
/* dark mode */
.dark {
  --background: hsl(222.2 84% 4.9%);
  --foreground: hsl(210 40% 98%);
  --card: hsl(222.2 84% 4.9%);
  --card-foreground: hsl(210 40% 98%);
  --popover: hsl(222.2 84% 4.9%);
  --popover-foreground: hsl(210 40% 98%);
  --primary: hsl(217.2 91.2% 59.8%);
  --primary-foreground: hsl(222.2 47.4% 11.2%);
  --secondary: hsl(217.2 32.6% 17.5%);
  --secondary-foreground: hsl(210 40% 98%);
  --muted: hsl(217.2 32.6% 17.5%);
  --muted-foreground: hsl(215 20.2% 65.1%);
  --accent: hsl(217.2 32.6% 17.5%);
  --accent-foreground: hsl(210 40% 98%);
  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(210 40% 98%);
  --border: hsl(217.2 32.6% 17.5%);
  --input: hsl(217.2 32.6% 17.5%);
  --ring: hsl(224.3 76.3% 48%);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--foreground);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
/* Global styles */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--foreground);
}

body {
  min-height: 100vh;
}
.hover {
  cursor: pointer;
}
.hover:hover {
  color: var(--primary);
}
.fill {
  fill: var(--foreground);
}
/* Layout styles */
#root {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
/* Component styles */
header {
  margin-top: 1em;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.carousel {
  display: flex;
  align-items: center;

  & .chevron {
    @media (orientation: landscape) {
      height: 10vh;
    }
    @media (orientation: portrait) {
      width: 10vw;
    }
  }
}
.filmList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;

  &.hover img:hover {
    outline: var(--foreground) 2px solid;
    cursor: pointer;
  }

  @media (orientation: landscape) {
    & img {
      &.large {
        height: 60vh;
      }
      &.medium {
        height: 40vh;
      }
      &.small {
        height: 20vh;
      }
    }
    & .star {
      &.large {
        height: 8vh;
      }
      &.medium {
        height: 6vh;
      }
      &.small {
        height: 3vh;
      }
    }
  }
  @media (orientation: portrait) {
    & img {
      &.large {
        width: 60vw;
      }
      &.medium {
        width: 40vw;
      }
      &.small {
        width: 20vw;
      }
    }
    & .star {
      &.large {
        width: 15vw;
      }
      &.medium {
        width: 10vw;
      }
      &.small {
        width: 7vw;
      }
    }
  }
}

button {
  border-radius: var(--radius);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--accent);
  color: var(--foreground);
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }
  &:focus,
  :focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}
