.wrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
  margin: 5%;
}
.item1{
	flex-shrink: 3;
}
.overviewWrapper{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: left;
}
.overviewWrapper div{
	margin-bottom: 20px;
}
.wrapper img{
	width: 70%;
	margin: auto;
	display: block;
}
.overviewWrapper h3{
	margin-bottom: 5px;
}
.overviewWrapper p{
	margin-top: 5px;
}
.spesificInfoWrapper{
	display: flex;
	flex-direction: row;
	gap: 5%;
}

@media (max-width: 1200px) {
	.wrapper{
		flex-direction: column;
	}
	.spesificInfoWrapper{
		flex-direction: column;
	}
	.item1 img{
		width: 50%;
	}
  }
